{{#if title}}
<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
        <img src='/{{cover}}' class="d-block mx-lg-auto img-fluid" alt="{{title}}" width="700" height="500"
            loading="lazy">
    </div>
    <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">{{title}}</h1>
        <div class="text-muted">Дата создания: {{createdAt}}</div>
        <div class="text-muted">
            Автор: {{author.firstName}} {{author.lastName}}
        </div>
        <p class="lead">{{description}}</p>
        <!-- Блок комментариев -->
        <h6 class="fw-bold lh-1 mb-3">Комментарии</h6>
        <!-- Блок, куда ReactJS будет вставлять вёрстку комментариев -->
        <div id="app">
        </div>
        <div>
            {{#if comments}}
            {{#each comments}}
            <sup>№{{this.id}}</sup>
            <div style=" display: flex; ">
                <img src='/{{this?.cover}}' class="card-img-top" style="height: 20px; width: 20px;" alt=''>
                <p class="card-text">{{this.text}}</p>
            </div>
            {{/each}}
            {{else}}
            <div style=" display: flex; ">
                <p class="card-text">Комментариев пока нет</p>
            </div>
            {{/if}}
            <form action="/news-comments/create" method="post" class="form-floating">
                <div class="mb-2">
                    <textarea class="form-control" name="text" id="text" cols="30" rows="5"
                        placeholder="Напишите свой комментарий"></textarea>
                </div>
                <button class="btn btn-primary" type="submit">Отправить</button>
            </form>
        </div>
    </div>
</div>
{{else}}
<h1>Новость не найдена!</h1>
{{/if}}

<!-- Подключим ReactJS-скрипт комментариев -->
<script src="/js/comments.js" type="text/babel"></script>